# Ignore everything:
*

# Do not ignore these files:
!.gitignore
!.github/*
!definitions
!definitions/*
!definitions/assets/*
!definitions_tests
!definitions_tests/*
!dagster_cloud.yaml
!pyproject.toml
!README.md
!setup.cfg
!setup.py